{% extends "layout.html" %}

{% block title %}
Asal Usul Danau Lipan
{% endblock %}

{% block main %}

    <h1>Asal Usul Danau Lipan</h1>
    <div class="wrapper">
    <!-- paragraf 1 start-->
        <section id="malin">
            <div>
            <!-- ini versi embedding dari link youtube tinggal copy aja linknya dr youtube kesini -->
                <iframe width="429" height="239" src="https://www.youtube.com/embed/joH0bGAtwN8?si=tuWr4uzLcKxzdO0s" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                <figure>
                    <figcaption>
                        Listen to the audio of "Asal Usul Danau Lipan story"
                    </figcaption>
                    <audio controls src="static/audios/asal_usul_danau_lipan.ogg">
                        Browser tidak mendukung tag <code>audio</code>
                    </audio>
                </figure>
            </div>


            <div class="column1">
                <p>Dahulu kala negeri Muara Kaman diperintah oleh seorang ratu bernama Ratu Aji Bidara Putih. Ratu Aji Bidara Putih adalah seorang gadis yang cantik jelita. Anggun pribadi dan penampilannya serta amat bijaksana. Semua kelebihannya itu membuat ia terkenal sampai di mana-mana; bahkan sampai ke manca negara.
                    Sang Ratu benar-benar bagaikan kembang yang cantik, harum mewangi. Maka tidaklah mengherankan apabila kemudian banyak raja, pangeran dan bangsawan yang ingin mempersunting sebagai istri. Pinangan demi pinangan mengalir bagai Sungai Mahakam yang tak pernah berhenti mengalir. Namun sang Ratu selalu menolak.
                    “Belum saatnya aku memikirkan pernikahan. Diriku dan perhatianku masih dibutuhkan oleh rakyat yang kucintai. Aku masih ingin terus memajukan negeri ini,” ujarnya.
                </p>
            </div>
        </section>
        <!-- paragraf 1 end -->

        <!-- paragraf 2 start -->
        <section id="malin">
            <div class="column2">
                <p>Kemudian pada suatu hari muncullah sebuah jung atau kapal besar dari negeri Cina. Kapal itu melayari sungai Mahakam yang luas bagai lautan. Menuju ke arah hulu. Hingga akhirnya berlabuh tidak jauh dari pelabuhan negeri Muara Kaman. Penduduk setempat mengira penumpang kapal itu datang untuk berdagang. Sebab waktu itu sudah umum kapal-kapal asing datang dan singgah untuk berdagang. Akan tetapi ternyata penumpang kapal itu mempunyai tujuan lain. Sesungguhnya kapal itu adalah kapal milik seorang pangeran yang terkenal kekayaannya di negeri Cina. Ia disertai sepasukan prajurit yang gagah perkasa dan amat mahir dalam ilmu beladiri.
                    Kedatangannya ke Muara Kaman semata-mata hanya dengan satu tujuan. Bukan mau berdagang, tetapi mau meminang Ratu Aji Bidara Putih! Kemudian turunlah para utusan sang Pangeran. Mereka menghadap Ratu AJi Bidara Putih di istana negeri. Mereka membawa barang-barang antik dari emas, dan keramik Cina yang terkenal. Semua itu mereka persembahkan sebagai hadiah bagi Ratu Aji Bidara Putih dari junjungan mereka. Sambil berbuat demikian mereka menyampaikan pinangan Sang Pangeran terhadap diri Ratu Aji Bidara Putih.
                    Kali ini sang Ratu tidak langsung menolak. Ia mengatakan bahwa ia masih akan memikirkan pinangan Sang Pangeran. Lalu dipersilakannya para utusan kembali ke kapal. Setelah para utusan meninggalkan istana, Ratu memanggil seorang punggawa kepercayaannya.
                    “Paman,” ujarnya, “para utusan tadi terasa amat menyanjung-nyanjung junjungannya. Bahwa pangeran itu tampan, kaya dan perkasa. Aku jadi ingin tahu, apakah itu semua benar atau cuma bual belaka. Untuk itu aku membutuhkan bantuanmu.”
                    “Apa yang mesti saya lakukan, Tuanku?” tanya si punggawa.
                    “Nanti malam usahakanlah kau menyelinap secara diam-diam ke atas kapal asing itu. Selidikilah keadaan pangeran itu. Kemudian laporkan hasilnya kepadaku.”
                    “Baik, Tuanku. Perintah Anda akan saya laksanakan sebaik-baiknya.”
                </p>
            </div>

            <div>
                <img src="{{ url_for('static', filename='images/DL2.png') }}" width="429" height="239">
            </div>
        </section>
        <!-- paragraf 2 end -->


        <!-- paragraf 3 start -->
        <section id="malin">
            <div>
            <img src="{{ url_for('static', filename='images/DL3.png') }}" width="429" height="239">
            </div>

            <div class="column1">
            <p>Ketika selimut malam turun ke bumi, si punggawa pun berangkat melaksanakan perintah junjungannya. Dengan keahliannya ia menyeberangi sungai tanpa suara. Lalu ia melompat naik ke atas geladak kapal yang sunyi. Dengan gerak-gerik waspada ia menghindari para penjaga. Dengan hati-hati ia mencari bilik sang pangeran.
                Sampai akhirnya ia berhasil menemukannya. Pintu bilik yang sangat mewah itu tertutup rapat. Tetapi keadaan di dalamnya masih benderang, tanda sang pangeran belum tidur. Si punggawa mencari celah untuk mengintip kedalam, namun tidak menemukan. Maka akhirnya ia hanya dapat menempelkan telinga ke dinding bilik, mendengarkan suara-suara dari dalam. Pada saat itu sebenarnya sang Pangeran Cina sedang makan dengan sumpit, sambil sesekali menyeruput arak dari cawan. Suara decap dan menyeruput mulutnya mengejutkan si punggawa.
                “Astaga.. suara ketika makam mengingatkanku kepada? kepada apa, ya?” pikir si Punggawa sambil mengingat-ingat. Kemudian si Punggawa benar-benar ingat. Pada waktu ia berburu dan melihat babi hutan sedang minum di anak sungai. Suaranya juga berdecap-decap dan menyeruput seperti itu. Ia juga teringat pada suara dari mulut anjing dan kucing ketika melahap makanan.
                “Ah ya ? benar-benar persis ? persis seperti suara yang kudengar! Jadi jangan-jangan..”
                Tiba-tiba mata si punggawa terbelalak. Seperti orang teringat sesuatu yang mengejutkan. Hampir serentak dengan itu ia pun menyelinap meninggalkan tempat bersembunyi. Ia meninggalkan kapal dan cepat-cepat kembali untuk melaporkan kepada Ratu Aji Bidara Putih.
                “Kau jangan mengada-ada, Paman,” tegur Ratu setelah mendengar laporan punggawa itu.
                “Saya tidak mengada-ada, Tuanku! Suaranya ketika makan tadi meyakinkan saya,” kata si punggawa.
                “Pangeran itu pasti bukan manusia seperti kita. Pasti dia siluman! Entah siluman babi hutan, anjing atau kucing. Pokoknya siluman! Hanya pada waktu siang ia berubah wujud menjadi manusia! Percayalah Tuanku. Saya tidak mengada-ada..”
                Penjelasan si punggawa yang meyakinkan membuat Ratu Aji Bidara Putih akhirnya percaya. Tidak lucu, pikirannya, kalau ia sampai menikah dengan siluman. Padahal banyak raja dan pangeran tampan yang telah meminangnya.
                Maka pada keesokan harinya dengan tegas ia menyatakan penolakannya terhadap pinangan pangeran itu. Sang Pangeran amat murka mendengar penolakan Ratu Aji Bidara Putih. Berani benar putri itu menolaknya. Dalam kekalapannya ia segera memerintahkan pada prajuritnya untuk menyerang negeri Muara Kaman. Para prajurit itu menyerbu negeri Muara Kaman. Kentara bahwa mereka lebih berpengalaman dalam seni bertempur.
            </p>
        </div>
        </section>
        <!-- paragraf 3 end -->


        <!-- paragraf 4 start -->
        <section id="malin">
            <div class="column2">
            <p>Para prajurit Muara Kaman terdesak, korban yang jatuh akibat pertempuran itu semakin bertambah banyak. Sementara para prajurit suruhan sang pangeran makin mendekat ke arah istana.
                Ratu Aji Bidara Putih merasa sedih dan panik. Namun kemudian ia berusaha menenangkan pikirannya. Ia mengheningkan cipta. setelah itu ia mengunyah sirih. Kemudian kunyahan sepah sirih digenggamnya erat-erat.
                Lalu berkata, “Jika benar aku keturunan raja-raja yang sakti, terjadilah sesuatu yang dapat mengusir musuh yang sedang mengancam negeriku!”
                Serentak dengan itu dilemparkannya sepah sirih itu ke arena pertempuran dan , astaga..lihatlah! Tiba-tiba sepah sirih itu berubah menjadi lipan-lipan raksasa yang amat banyak jumlahnya! Lipan-lipan yang panjangnya lebih dari satu meter itu segera menyerang para prajurit Pangeran Cina. Para prajurit itu menjadi ketakutan.
                Mereka lari tunggang-langgang dan kembali ke kapal. Tetapi lipan-lipan itu tidak berhenti menyerbu. Tiga ekor lipan raksasa mewakili kelompoknya. Mereka berenang ke kapal, lalu membalikkannya hingga kapal itu tenggelam beserta seluruh penumpangnya dan isinya? Tempat bekas tenggelamnya kapal itu hingga kini oleh penduduk Muara Kaman disebut Danau Lipan. Konon, menurut empunya cerita, dulu di tempat ini sesekali ditemukan barang-barang antik dari negeri Cina
            </p>
        </div>

        <div>
        <img src="{{ url_for('static', filename='images/DL4.png') }}" width="429" height="239">
    </div>
        </section>
        <!-- paragraf 4 end -->


   {% endblock %}
