{% extends "layout.html" %}

{% block title %}
    Batu Bagga
{% endblock %}

{% block main %}

    <h1>Batu Bagga</h1>
    <div class="wrapper">
    <!-- paragraf 1 start-->
        <section id="malin">
            <div>
            <!-- ini versi embedding dari link youtube tinggal copy aja linknya dr youtube kesini -->
                <iframe width="429" height="239" src="https://www.youtube.com/embed/0NKiVH1K7kI?si=kcBvJGAm4erlVkUt" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                <figure>
                    <figcaption>
                        Listen to the audio of "Batu Bagga story"
                    </figcaption>
                    <audio controls src="static/audios/batu_bagga.ogg">
                        Browser does not support tags<code>audio</code>
                    </audio>
                </figure>
            </div>


            <div class="column1">
                <p>Pada zaman dahulu kala di pulau Sulawesi, hiduplah seorang pria bernama Intobu.
                    Ia tinggal berdua dengan anak satu-satunya yang bernama Impalak.
                    Mereka miskin.
                    Pekerjaan sehari-hari mereka adalah menjadi nelayan.
                    Mereka pergi ke laut untuk menangkap ikan setiap malam, bahkan pada saat cuaca buruk.
                    Intobu selalu menasehati anaknya, “Menjadi nelayan adalah satu-satunya penghasilan kita. Jangan anggap cuaca buruk sebagai musuh kita.”
                    Impalak mengangguk.
                    “Ya, Ayah,” katanya.
                    Intobu dan Impalak bekerja sebagai nelayan selama bertahun-tahun. Namun berjalannya waktu Impalak mulai bosan dengan pekerjaan itu. Dia ingin mencoba sesuatu yang baru. Dia ingin membuat hidup lebih baik untuk ayahnya dan dirinya sendiri.
                    Suatu hari, Impalak mencoba berbicara dengan ayahnya tentang keinginannya.
                    “… Ayah, maafkan aku,” Impalak merasa ragu.
                    “Ada apa, Anakku?” Intobu penasaran melihat sikap anaknya yang aneh.
                    “Ayah, sebenarnya saya ingin berhenti bekerja sebagai nelayan. Saya ingin pergi ke luar negeri dan mencoba bekerja yang lain,” kata Impalak.
                    Intobu sedih mendengar keputusan putranya, tapi dia juga ingin Impalak sukses.
                    “Kalau itu keputusanmu, aku tidak bisa berbuat apa-apa selain mempersilakanmu pergi. Aku hanya bisa mendoakan keselamatan dan kesuksesanmu” ucap Intobu.
                    “Tapi aku ingin kamu selalu mengingat tanah airmu. Ingat desa dan ayahmu, yang sudah tua ini.” lanjutnya.
                    “Ya, Ayah. Aku akan selalu ingat. Terima kasih,” kata Impalak bersemangat.
                </p>
            </div>
        </section>
        <!-- paragraf 1 end -->

        <!-- paragraf 2 start -->
        <section id="malin">
            <div class="column2">
                <p>Keesokan harinya, Impalak berangkat ke pelabuhan. Dia melihat Bagga (perahu layar) dan pergi menemui pemiliknya.
                    “Maaf, Tuan. Saya ingin tahu apakah saya boleh berlayar dengan Anda?” Tanya Impalak.
                    Pemilik Bagga terdiam sesaat.
                    “Ini bukan masalah bagiku. Tapi mengapa kamu ingin berlayar denganku, dan apakah kamu sudah meminta izin dari orang tuamu?” Tanya pemilik Bagga kemudian.
                    “Saya bekerja di sini sebagai nelayan dengan ayah saya, tetapi saya ingin mencoba peruntungan di luar negeri. Ayah saya setuju dengan rencana saya,” kata Impalak.
                    “Baiklah, aku akan berlayar besok. Temui aku di sini besok pagi. Ngomong-ngomong, siapa namamu?” Tanya pemilik bagga ini.
                    “Terima kasih Pak. Nama saya Impalak, Pak,” jawab Impalak senang.
                    Kembali ke rumahnya, Impalak memberi tahu ayahnya tentang pertemuannya dengan pemilik perahu Bagga.
                    “Kapan kau meninggalkan?” Intobu bertanya.
                    “Besok, Ayah,” jawab Impalak.
                    Selanjutnya pagi harinya, impalak pergi ke pelabuhan bersama ayahnya. Perahu Bagga sedang bersiap berlayar.
                    “Cepat, Impalak!” Pemilik Bagga berteriak.
                    Impalak mencium tangan ayahnya“
                    “Ayah saya pamit, mohon jaga diri ayah baik-baik,” kata Impalak.
                    “Pergilah, Nak. Aku memberkatimu,” kata Intobu.
                    Ada air mata berlinang di mata Intobu saat melihat Bagga meninggalkan pelabuhan.</p>
            </div>

            <div>
                <img src="{{ url_for('static', filename='images/BB2.png') }}" width="429" height="239">
            </div>
        </section>
        <!-- paragraf 2 end -->


        <!-- paragraf 3 start -->
        <section id="malin">
            <div>
            <img src="{{ url_for('static', filename='images/BB3.png') }}" width="429" height="239">
            </div>

            <div class="column1">
            <p>Beberapa tahun berlalu. Setiap kali Intobu melihat perahu Bagga, dia selalu berharap anaknya akan kembali. Tetapi tidak ada kabar sama sekali dari Impalak.
                Suatu hari, Intobu pergi memancing seperti biasa.
                Dia menggunakan perahu kecil dan menuju ke perairan terbuka dekat pelabuhan. Pada saat itulah dia melihat Bagga menuju pelabuhan.
                Ketika Bagga sudah mendekati sampan Intobu, dia melihat seorang pemuda tampan berdiri di dek depan Bagga ini. Pemuda itu ditemani oleh istrinya yang cantik. Intobu mengenali pemuda. Dia adalah Impalak putra kesayangannya.
                “Impalak, Nak.” Teriak Intobu.
                “Impalak! Impalak, anakku!” Intobu berteriak dengan semangat.
                Impalak mendengar teriakan ayahnya, tapi dia mengabaikannya.
                “Sayangnya, ada seseorang di sana yang memanggil namamu. Apa itu ayahmu?” Tanya istrinya.
                “Bukan, dia bukan ayahku. Abaikan dia sayang” Impalak malu mengakui ayah tuanya di depan istrinya yang cantik.
                Intobu mencoba mendayung perahunya lebih mendekat ke Bagga, tetapi tiba-tiba ada ombak besar di lautan.
                Perahu Intobu dihantam ombak dan hampir tenggelam.
                “Tolong … Bantu aku … Impalak, tolong …!” Intobu berteriak, meminta bantuan anaknya.
                Tapi Impalak mengabaikan ayahnya. Dia bahkan mengubah Bagga menjadi berlawanan dengan arah perahu sampan Intobu.
            </p>
        </div>
        </section>
        <!-- paragraf 3 end -->


        <!-- paragraf 4 start -->
        <section id="malin">
            <div class="column2">
            <p>Intobu sangat bersedih melihat Anak yang dia sayangi mengabaikannya seperti itu.
                Kekecewaan  bercampur dengan kesedihan dan kemarahan.
                Dia melihat ke langit dan berdoa, “Oh, Tuhan, tolong dengarkan doaku. Jika memang dia benar Impalak anakku. Aku mengutuk Bagga anak pemberontak itu menjadi batu.”
                Tidak lama setelah doa yang dipanjatkan oleh Intobu, badai datang dan melanda Impalak Bagga ini.
                Angin bertiup sangat kencang, mendorong Bagga ke pantai.
                Tiba-tiba, Bagga dan Impalak berubah menjadi batu. batu masih ada sampai sekarang. Orang menyebut Batu Bagga.
            </p>
        </div>

        <div>
        <img src="{{ url_for('static', filename='images/BB4.png') }}" width="429" height="239">
    </div>
        </section>
        <!-- paragraf 4 end -->
    </div>

{% endblock %}
