{% extends "layout.html" %}

{% block title %}
Batu Menangis
{% endblock %}

{% block main %}

    <h1>Batu Menangis</h1>
    <div class="wrapper">
    <!-- paragraf 1 start-->
        <section id="malin">
            <div>
            <!-- ini versi embedding dari link youtube tinggal copy aja linknya dr youtube kesini -->
                <iframe width="429" height="239" src="https://www.youtube.com/embed/VLdSlFfWt1A?si=bm5mXJsD3lGWzWEn" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                <figure>
                    <figcaption>
                        Listen to the audio of "Batu Menangis story"
                    </figcaption>
                    <audio controls src="static/audios/batu_menangis.ogg">
                        Browser tidak mendukung tag <code>audio</code>
                    </audio>
                </figure>
            </div>


            <div class="column1">
                <p>Alkisah di atas sebuah bukit, jauh dari pemukiman penduduk di Kalimantan Barat, hiduplah ibu bersama anak perempuannya. Suaminya sudah lama meninggal tanpa mewariskan harta berarti. Kehidupan menjanda di umur cukup tua tak meninggalkan ibu banyak pilihan. Ia tak mungkin menikah lagi, jadi ibu harus berusaha sendiri untuk menghidupi anak perempuan kesayangannya, Darmi.
                    Setiap hari ibu bekerja keras. Mengurus kebun sayur sejak pagi buta: menanam bibit, menyiram, memberi pupuk, menyiangi semak, memanen, dan menjual hasil panen ke pasar. Belum lagi mengurus anak yang masih kecil, juga mencari kayu bakar untuk memasak. Kulit ibu yang awalnya cerah, lama-lama menggelap karena terpapar sinar matahari. Berat badannya menyusut, ibu tak memiliki waktu untuk mengurus dirinya sendiri.
                    Harapan ibu, Darmi bisa hidup bahagia, tak seperti dirinya. Maka Darmi pun dimanja; penuh kasih sayang. Darmi tumbuh menjadi gadis cantik! Kulitnya kuning langsat, tubuh semampai, paras memesona, dan rambutnya hitam legam panjang terurai. Darmi juga selalu mengenakan baju indah dan aksesori mentereng. Berbeda dari ibu yang sudah lama tak membeli barang untuk diri sendiri. Ia sudah tua, pikirnya. Tak memerlukan lagi semua hal itu.
                    Tapi Darmi masih muda dan suka bergaul. Darmi pun selalu senang jika dibelikan baju baru, aksesori, dan alat berhias. Lama kelamaan, hanya benda-benda itu yang ada di benaknya. Darmi senang sekali bercermin sambil menyisir rambutnya. Ia sadar, kalau dirinya sangat cantik. Tapi hanya itu pula yang Darmi lakukan. Mengagumi diri sendiri sepanjang hari, saat ibu bekerja keras di kebun.
                </p>
            </div>
        </section>
        <!-- paragraf 1 end -->

        <!-- paragraf 2 start -->
        <section id="malin">
            <div class="column2">
                <p>Suatu hari ibu lupa mengantar pesanan sayur ke pelanggannya di desa. Ibu meminta tolong Darmi untuk memasak. Tapi saat pulang, ternyata Darmi masih bersolek. Jangankan memasak, kamarnya pun masih berantakan seperti saat ibu tinggalkan. Saat ditanya, Darmi malah geram, karena ibu mengganggunya berdandan dan meninggalkannya kelaparan. Akhirnya ibu juga yang membuat makanan, kemudian membereskan kamar Darmi.
                    Darmi makin keenakan, untuk mengambil segelas air saja harus memanggil ibu. Tak pernah sekalipun Darmi mengerjakan pekerjaan rumah, apalagi berpanas-panasan di kebun sayur atau mengantar dagangan ke pasar di kaki bukit. Tapi saat menginginkan sesuatu, Darmi akan merengek hingga mendapatkan keinginannya. Jika ibu tidak punya uang, Darmi marah besar! Mengatakan ia kesal dilahirkan di keluarga miskin. Hal ini membuat ibu sedih, dan sering kali menguras uang tabungannya. Bagaimanapun, Darmi adalah satu-satunya cinta ibu, anaknya tersayang yang ia besarkan sendiri dari kecil.
                </p>
            </div>

            <div>
                <img src="{{ url_for('static', filename='images/BM2.png') }}" width="429" height="239">
            </div>
        </section>
        <!-- paragraf 2 end -->


        <!-- paragraf 3 start -->
        <section id="malin">
            <div>
            <img src="{{ url_for('static', filename='images/BM3.png') }}" width="429" height="239">
            </div>

            <div class="column1">
            <p>Suatu hari sisir semata wayang Darmi patah, membuatnya uring-uringan sepanjang hari. Ia mau mendapatkan sisir baru! Harus lebih cantik dari sisir lamanya. Tapi Darmi tak percaya selera ibu. Lagian jika ikut ke pasar ia bisa melihat aksesori cantik dan mungkin mendapatkannya juga. Akhirnya Darmi memutuskan ikut ibu, yang memasok sayur ke pasar, turun bukit.
                Darmi yang takut kulitnya terkena sinar matahari, membawa daun besar sebagai payung. Sedangkan ibu menarik gerobak berisi sayur dengan tubuh rentanya. Satu, dua orang melewati mereka sambil memberi pandangan sinis. Di benak Darmi, itu karena orang merendahkannya, perihal memiliki ibu dengan penampilan bak pengemis. Kurus dan lusuh!
                Darmi mengambil langkah cepat, meninggalkan ibu di belakang, sehingga orang tak tahu wanita penarik gerobak itu adalah ibunya. Tak disangka, Darmi bertemu kawan di perjalanan. Mereka berbincang hingga ibu sampai. Ibu bertanya siapa anak muda yang berbicara pada Darmi, berharap dikenalkan. Tapi Darmi malah memperkenalkan ibu sebagai pembantunya. Hati ibunya pun terasa hancur mendengar perkataan anaknya. Ia menahan tangis dan tak mampu berkata-kata. Tahu ibunya diam dan menerima dibilang pembantu, Darmi mengulangi kata-katanya tiap ada orang menyapa.
                Darmi sengaja mengikuti ibu menjual sayur lebih dulu agar bisa mengintip penghasilan ibu. Setelahnya, Darmi langsung meminta uang. Awalnya ibu hanya memberi Darmi uang untuk membeli sisir, tapi Darmi malah memarahinya di depan umum! Sudah lelah akan perangai anaknya, ibu pasrah. Menyerahkan semua pendapatannya hari itu; entah bagaimana caranya esok ia membeli bibit dan beras.
                Darmi girang, ia langsung membeli semua hal menarik yang terlihat. Tapi setiap ibu menghampiri untuk mengakrabkan diri atau memujinya, Darmi melengos. Beberapa kali ibu mencoba hingga akhirnya tak tahan lagi, ia biarkan saja Darmi menghabiskan uang sampai puas.
                Kecantikan Darmi membuatnya banyak disapa pemuda di pasar, sampai ada yang mau mengantarkan pulang. Bagaimanapun, ibu khawatir akan keselamatan Darmi. Ibu mengikuti Darmi dari belakang untuk menjaganya. Darmi terlihat asik sekali mengobrol dengan komplotan pemuda yang “katanya” mau mengantar pulang itu.
            </p>
        </div>
        </section>
        <!-- paragraf 3 end -->


        <!-- paragraf 4 start -->
        <section id="malin">
            <div class="column2">
            <p>Makin lama pemuda-pemuda makin mendekat ke putri ibu! Sehingga ibu harus memperingati Darmi dengan memanggilnya. Sontak para pemuda ikut menengok, lalu bertanya pada Darmi; memastikan apa yang memanggil itu adalah ibunya. Kali ini Darmi tertawa. Mengatakan bagaimana mungkin wanita yang terlihat seperti gembel itu adalah ibunya. Darmi bilang ia berasal dari keluarga berada, ibunya cantik dan sedang menunggu di rumah. Darmi menambahkan, wanita itu adalah pekerja rendah di kediamannya. Maka para pemuda ikut tertawa, menyadari betapa konyol pertanyaan tadi.
                Cukup sudah, ibu tak kuat lagi! Ia melepas gerobak yang dipegangnya lalu bersimpuh ke tanah. Sakit hatinya, ibu pun menangis. Ia keluarkan semua tangis yang selama ini tertahan seraya meminta pertolongan Tuhan meminta mengakhiri sakit hati, lelah, dan doanya yang sia-sia meminta kebahagian untuk si anak durhaka.
            </p>
        </div>

        <div>
        <img src="{{ url_for('static', filename='images/BM4.png') }}" width="429" height="239">
    </div>
        </section>
        <!-- paragraf 4 end -->


    <!-- paragraf 5 start -->
    <section id="malin">
        <div>
        <img src="{{ url_for('static', filename='images/BM5.png') }}" width="429" height="239">
        </div>

        <div class="column1">
        <p>Langit berubah gelap, angin berembus kencang. Ternyata Tuhan mendengar doa ibu. Darmi yang masih dikelilingi para pemuda tiba-tiba merasa kakinya kaku dan berat. Seketika Darmi menyadari, ia terkena kutuk karena perbuatannya pada ibu. Saat tubuhnya semakin berat, Darmi menangis ketakutan. Saking beratnya, tubuh Darmi tertarik ke tanah. Kini ia bersimpuh, menangis makin kencang.
            Kakinya berubah menjadi batu, lanjut ke pinggulnya. Darmi makin ketakutan, ia memanggil-manggil ibu. Meminta maaf dan berjanji tak akan mengulangi perbuatannya. Ibu hanya bisa melongo, lalu menghampiri putrinya yang separuh menjadi batu. Keduanya hanya bisa menangis bersama, hingga akhirnya Darmi berubah sepenuhnya menjadi batu. Anehnya, dari dalam batu Darmi tetap keluar air mata hingga beberapa lama.
            Anehnya, dari dalam batu Darmi tetap keluar air mata hingga beberapa lama.
            Oleh para pemuda, batu itu dipindah ke sisi tebing. Menghadap ke langit agar Darmi tak kesepian. Penduduk sekitar kemudian menyebutnya sebagai Batu Menangis.
        </p>
    </div>
    </section>
    <!-- paragraf 5 end -->

{% endblock %}
