{% extends "layout.html" %}

{% block title %}
    Danau Toba
{% endblock %}

{% block main %}

    <h1>Danau Toba</h1>
    <div class="wrapper">
    <!-- paragraf 1 start-->
        <section id="malin">
            <div>
            <!-- ini versi embedding dari link youtube tinggal copy aja linknya dr youtube kesini -->
                <iframe width="429" height="239" src="https://www.youtube.com/embed/Ixg99LvYHXI?si=KgDzV83Uc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                <figure>
                    <figcaption>
                        Listen to the audio of "Danau Toba story"
                    </figcaption>
                    <audio controls src="static/audios/danautoba.ogg">
                        Browser does not support tags<code>audio</code>
                    </audio>
                </figure>
            </div>


            <div class="column1">
                <p>Di sebuah desa di wilayah Sumatera Utara, hidup seorang petani muda bernama Toba yang rajin bekerja. Walaupun lahan pertaniannya tidak luas, ia selalu bersemangat untuk mencukupi kebutuhannya dari hasil pertaniannya. Sebenarnya usianya sudah cukup untuk menikah, tetapi ia merasa belum menemukan wanita impiannya.
                    Di suatu pagi hari yang cerah, Toba tersebut memutuskan untuk melepaskan penat setelah kemarin bekerja seharian di lahannya. Pemuda itu sangat suka memancing karena hal tersebut dapat membuatnya tenang sambil bersitirahat.
                    “Aah, mudah-mudahan hari ini aku mendapat ikan yang besar,” gumam Toba dalam hati sambil menyiapkan alat-alat pancingnya. Ia lalu pergi ke sungai, duduk di tepian dan mulai melemparkan kailnya.
                    Setelah menunggu beberapa lama, kailnya terlihat bergoyang-goyang. Toba segera menariknya dan bersorak kegirangan saat mengetahui ikan yang dipancingnya berukuran besar. Namun pemuda itu sedikit heran, sekaligus takjub, ketika memperhatikan sisik ikan tersebut. Sisik ikan itu begitu indah, berwarna kuning emas kemerah-merahan. Kedua matanya bulat berkilau memancarkan kilatan yang menakjubkan.
                    “Ini ikan terindah yang pernah aku lihat.” Ujarnya Toba kagum. “Hmmm, bagaimana aku akan memakannya ya?”
                    “Hai, siapa kah engkau? Apakah kau ikan ajaib?” tanya Toba
                    “Aku seorang puteri ikan. Jangan makan aku, maka aku bersedia menjadi istrimu.” Lalu ikan tersebut menjatuhkan dirinya ke tanah, dan berubah wujud menjadi seorang gadis yang cantik jelita.
                    Toba menggosok-gosokkan mata tak percaya “Apakah aku sedang bermimpi?”
                    “Tidak, kau tak sedang bermimpi.” Jawab puteri ikan. “Namaku puteri Intan. Kalau kau tak memakanku, aku akan menjadi istrimu.”
                    Toba yang merasa sangat senang itupun mengangguk. Ia tak menyangka akan mendapatkan istri secantik puteri Intan. Sebelum menikah, puteri Intan meminta satu syarat pada Toba.
                    “Kau harus bersumpah tidak akan pernah menceritakan asal-usulku pada siapa pun. Jika sumpah itu kau Ianggar, maka akan terjadi petaka dahsyat.”
                    Toba menyetujui permintaan itu dan bersumpah di hadapan puteri Intan. Ia pun kembali ke rumah dan mengadakan pesta pernikahan yang dihadiri orang-orang di desa. Penduduk desa yang takjub melihat kecantikan istri Toba sangat penasaran dan menanyakan anal usulnya. Tentu saja Toba tak bisa menceritakan. Orang-orang pun sedikit curiga, namun tak dapat memaksa.
                </p>
            </div>
        </section>
        <!-- paragraf 1 end -->

        <!-- paragraf 2 start -->
        <section id="malin">
            <div class="column2">
                <p>Toba dan puteri Intan hidup bahagia dan tenteram sebagai suami istri. Toba semain giat bekerja untuk mencari nafkah, mengolah sawah Iadangnya dengan tekun dan ulet. Mereka pun hidup sejahtera tanpa kekurangan.
                    Tak lama kemudian, kebahagiaan mereka bertambah dengan Iahirnya seorang bayi laki-laki. Mereka memberinya nama Samosir. Anak itu kemudian tumbuh menjadi seorang anak yang sehat dan kuat. Ia menjadi anak manis tetapi selalu merasa lapar. Ia makan lebih dari tiga kali sehari dan porsinya melebihi orang dewasa. Kadang-kadang, makanan yang disediakan ibunya untuk mereka bertiga dihabiskannya sendiri. Kadang-kadang hal tersebut membuat ayahnya jengkel.
                    Puteri Intan dengan sabar mengingatkan Toba untuk tidak memarahi anaknya, apalagi mengucapkan kata-kata kasar.
                    “Bagaimanapun dia itu anak kita, dan ia sedang dalam masa pertumbuhan makanya ia makan banyak.” kata puteri Intan.
                    “Ya, aku tahu itu meski kadang-kadang aku harus menahan lapar karena tidak ada makanan tersisa.”
                    “Engkau memang seorang suami dan ayah yang baik.” puji puteri Intan kepada suaminya.
                    Pada suatu hari, Samosir diminta ibunya mengantarkan makanan untuk ayahnya yang ayahnya sedang bekerja di sawah.
                    “Nak, tolong antarkan makan siang untuk ayahmu ya. Dia pasti sangat kelaparan karena tadi pagi belum sarapan.”
                    “Baiklah, Bu. Aku akan mengantarkannya setelah aku sendiri makan.” Jawab Samosir sambil mengambil masakan ibunya dari meja. Setelah makan Samosir segera berangkat membawa rantang yang telah disiapkan ibunya.
                    Sudah tengah hari, dan bayang-bayang matahari sudah sangat pendek. Toba yang sedang bersitirahat di gubuk kecil di tepi sawah menyeka peluhnya. Sambil mengipasi diri, ia mulai bertanya-tanya mengapa anaknya belum juga datang mengantar makanan. Perutnya sudah mulai keroncongan sebab tadi pagi ia terburu-buru berangkat dan tak sempat makan.
                </p>
            </div>

            <div>
                <img src="{{ url_for('static', filename='images/DT2.png') }}" width="429" height="239">

            </div>
        </section>
        <!-- paragraf 2 end -->


        <!-- paragraf 3 start -->
        <section id="malin">
            <div>
            <img src="{{ url_for('static', filename='images/DT3.png') }}" width="429" height="239">
            </div>

            <div class="column1">
            <p>“Hmmm, kemana Samosir? Mengapa lama sekali ia belum datang, padahal hari sudah sangat siang dan aku lapar sekali.”
                Setelah menunggu beberapa lama tak kunjung datang, akhirnya Toba memutuskan kembali ke rumah untuk makan. Dalam perjalanan pulang, betapa terkejut ia saat melihat Samosir sedang bermain di lapangan dengan teman-temannya. Lebih terkejut lagi saat dilihatnya rantang makan siang tergeletak di tepi jalan, kosong melompong, tandas tak ada isinya. Tahulah ia bahwa puteranya telah memakan semua makanan tersebut dan melalaikan tugasnya. Toba yang sangat kelaparan merasa begitu marah.
                “Het, Samosir! Ke sini kau!” teriaknya keras memanggil anaknya yang sedang bermain. Samosir mendekat dengan rasa takut, menyadari kesalahannya. Toba yang tak dapat menahan amarah segera menjewer telinga Samosir keras-keras, membuat anak itu menyeringai kesakitan.
                “Dasar anak tidak tahu diri.” teriak Toba marah. “Makanmu saja banyak tapi tugas kecil pun kau lalaikan! Dasar anak ikan!”
                Begitu selesai ucapan Toba, tiba-tiba angin kencang bertiup dan petir pun menyambar-nyambar. Awan cerah di siang terik segera berubah menjadi mendung gelap. Hujan turun dengan sangat deras. Tahulah Toba bahwa ia sudah melanggar sumpahnya untuk tidak mengatakan asal usul istrinya.
            </p>
        </div>
        </section>
        <!-- paragraf 3 end -->


        <!-- paragraf 4 start -->
        <section id="malin">
            <div class="column2">
            <p>Di rumah, puteri Intan pun mengetahui bahwa suaminya telah melanggar sumpah. Dengan penuh isak tangis, ia perlahan-lahan berubah wujud kembali menjadi seekor ikan. Sementara itu hujan semakin deras mengakibatkan banjir badang. Air bah meluap ke seluruh penjuru membuat penduduk desa panik. Mereka segera berlari meninggalkan rumah menuju bukit yang lebih tinggi.
                Toba pun menangis mengetahui petaka yang dikatakan istrinya terjadi. Ia tak sempat menyelamatkan diri, anaknya pun hilang ditelan banjir. Air meluap tinggi dan merendam seluruh desa, lalu membentuk danau yang sangat luas. Sebuah pulau muncul di tengah danau tersebut, Ietaknya persis di tempat Samosir terakhir berdiri. Danau itu kemudian dinamakan Danau Toba, sedangkan pulau kecil di tengahnya diberi nama Pulau Samosir.
            </p>
        </div>

        <div>
        <img src="{{ url_for('static', filename='images/DT4.png') }}" width="429" height="239">
    </div>
        </section>
        <!-- paragraf 4 end -->
    </div>

{% endblock %}
