{% extends "layout.html" %}

{% block title %}
Empat Raja
{% endblock %}

{% block main %}

    <h1>Empat Raja</h1>
    <div class="wrapper">
    <!-- paragraf 1 start-->
        <section id="malin">
            <div>
            <!-- ini versi embedding dari link youtube tinggal copy aja linknya dr youtube kesini -->
                <iframe width="429" height="239" src="https://www.youtube.com/embed/84rmfTdtEsg?si=6KswvdBT3auI0yL1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                <figure>
                    <figcaption>
                        Listen to the audio of "Empat Raja story"
                    </figcaption>
                    <audio controls src="static/audios/empat_raja.ogg">
                        Browser tidak mendukung tag <code>audio</code>
                    </audio>
                </figure>
            </div>


            <div class="column1">
                <p>Dahulu, ada cerita tentang sepasang suami istri di tanah Papua yang menanti-nantikan kehadiran anak. Meski tak kunjung diberi, keduanya tetap berdoa pada Tuhan setiap siang dan malam.
                    Suatu hari, suami istri tersebut pergi ke hutan untuk mencari kayu dan menjadikannya kayu bakar. Keduanya harus bergegas mencari sebelum musim hujan datang karena kayu-kayu di hutan akan menjadi basah dan tidak bisa dibakar. Namun sayang, persediaan kayu yang mereka dapatkan di hari itu masih sangat sedikit untuk menghadapi musim hujan.
                    Diterpa kelelahan, suami dan istri ini kemudian beristirahat sejenak di tepi sungai yang bernama Sungai Waikeo. Ketika tengah beristirahat, mata sang suami tertuju pada sebuah lubang besar di sisi lain tepi sungai. Sang suami pun mendekati lubang tersebut dan terkejut ketika menemukan enam butir telur besar.
                    Sang suami memanggil istrinya yang tidak kalah terkejut. Keduanya lantas sepakat membawa pulang telur-telur tersebut. Mereka berpikir bahwa telur-telur ini mungkin bisa dijadikan persediaan makanan untuk dimasak di kemudian hari. Setibanya di rumah, telur-telur tersebut pun disimpan dengan baik.
                </p>
            </div>
        </section>
        <!-- paragraf 1 end -->

        <!-- paragraf 2 start -->
        <section id="malin">
            <div class="column2">
                <p>Keesokan harinya, kejutan lain menyambut suami istri tersebut. Ketika hendak menyiapkan hidangan, telur-telur tersebut justru menetas. Bukannya menetas menjadi unggas atau hewan lain, melainkan menjadi anak manusia. Dari enam butir telur, empat menetas menjadi anak laki-laki, satu orang anak perempuan, dan yang satu lagi mengeras menjadi sebuah batu. Lima orang anak muncul dalam balutan kain putih yang bersinar. Tatkala, inilah pertanda bahwa mereka diturunkan dari kayangan. Suami istri ini amat senang mendapati anak-anak tersebut dan merasa doanya telah dikabulkan Tuhan. Mereka pun berjanji kepada Tuhan untuk merawat dan membesarkan anak-anak mereka dengan baik. Keempat anak laki-laki diberi nama War, Betani, Dohar, dan Mohamad. Sementara, sang anak perempuan diberi nama Pintolee.
                </p>
            </div>

            <div>
                <img src="{{ url_for('static', filename='images/RA2.png') }}" width="429" height="239">
            </div>
        </section>
        <!-- paragraf 2 end -->


        <!-- paragraf 3 start -->
        <section id="malin">
            <div>
            <img src="{{ url_for('static', filename='images/RA3.png') }}" width="429" height="239">
            </div>

            <div class="column1">
            <p>Waktu berlalu, kelima anak tersebut semakin beranjak besar. War, Betani, Dohar, Mohamad, dan Pintolee dikenal sebagai anak-anak yang rajin bekerja dan berbakti. Semakin dewasa, kelimanya semakin giat membantu kedua orang tuanya agar tidak perlu bekerja dengan susah payah. Lahan pertanian yang mereka kerjakan menjadi makmur dan berkembang sampai ke empat pulau besar di sekitar Teluk Kabui. Oleh karena itu, bukan hanya kedua orang tuanya, masyarakat desa dan sekitarnya turut mengagumi kebaikan anak-anak ini.
                Tanggung jawab apapun yang diberikan orang tua pada anak-anak selalu dijalankan dengan baik. Kepatuhan pada orang tua dan berguna bagi lingkungan membuat ayah dan ibu kelima anak-anak tersebut sangat bangga. Rasa sayang yang begitu besar pada kelima anaknya membuat sang ayah ingin meninggalkan warisan sebelum ajal menjemputnya. Kemudian, sang ayah mulai menyiapkan sebuah rencana besar untuk War, Betani, Dohar, Mohamad, dan Pintolee.
                Di tengah kebahagiaan mereka, terjadi sesuatu yang membuat satu keluarga kecewa. Pintolee jatuh hati dengan seorang pemuda yang tidak disenangi oleh keluarganya. Meski pemuda pilihannya tidak direstui, Pintolee tetap bersikeras untuk melanjutkan hubungannya. Memilih untuk memegang teguh pilihan hidupnya, Pintolee dengan berat hati harus melepas hadiah yang sudah disiapkan ayahnya. Pintolee akhirnya pergi meninggalkan saudara-saudara dan kedua orangtuanya. Pintolee berlayar menaiki cangkang kerang besar yang terdampar hingga membawanya dan pemuda pilihannya di Pulau Numfor.
                Waktu berlalu, kelima anak tersebut semakin beranjak besar. War, Betani, Dohar, Mohamad, dan Pintolee dikenal sebagai anak-anak yang rajin bekerja dan berbakti. Semakin dewasa, kelimanya semakin giat membantu kedua orang tuanya agar tidak perlu bekerja dengan susah payah. Lahan pertanian yang mereka kerjakan menjadi makmur dan berkembang sampai ke empat pulau besar di sekitar Teluk Kabui. Oleh karena itu, bukan hanya kedua orang tuanya, masyarakat desa dan sekitarnya turut mengagumi kebaikan anak-anak ini.
                Tanggung jawab apapun yang diberikan orang tua pada anak-anak selalu dijalankan dengan baik. Kepatuhan pada orang tua dan berguna bagi lingkungan membuat ayah dan ibu kelima anak-anak tersebut sangat bangga. Rasa sayang yang begitu besar pada kelima anaknya membuat sang ayah ingin meninggalkan warisan sebelum ajal menjemputnya. Kemudian, sang ayah mulai menyiapkan sebuah rencana besar untuk War, Betani, Dohar, Mohamad, dan Pintolee.
                Di tengah kebahagiaan mereka, terjadi sesuatu yang membuat satu keluarga kecewa. Pintolee jatuh hati dengan seorang pemuda yang tidak disenangi oleh keluarganya. Meski pemuda pilihannya tidak direstui, Pintolee tetap bersikeras untuk melanjutkan hubungannya. Memilih untuk memegang teguh pilihan hidupnya, Pintolee dengan berat hati harus melepas hadiah yang sudah disiapkan ayahnya. Pintolee akhirnya pergi meninggalkan saudara-saudara dan kedua orangtuanya. Pintolee berlayar menaiki cangkang kerang besar yang terdampar hingga membawanya dan pemuda pilihannya di Pulau Numfor.
            </p>
        </div>
        </section>
        <!-- paragraf 3 end -->


        <!-- paragraf 4 start -->
        <section id="malin">
            <div class="column2">
            <p>Meski kabar mengenai Pintolee sudah tersiar ke segala penjuru pulau, masyarakat desa dan sekitar tetap menaruh rasa simpati pada sang ayah dan ibu. Tentu saja, hal ini karena War, Betani, Dohar, dan Mohamad setia menjaga nama baik keluarga dengan mematuhi nasihat kedua orang tua mereka.
                Tahun silih berganti, sang ayah semakin beranjak renta. Tibalah hari yang sudah dinantikan sang ayah untuk keempat putranya. Sang ayah memanggil keempat anak laki-lakinya untuk membagikan warisan. Ternyata, masing-masing anak dihadiahkan satu pulau. War diberi Pulau Waigeo, Betani diberi Pulau Salawati, Dohar diberi Pulau Lilinta, dan Mohamad mendapatkan Pulau Waiga. Sang ayah berpesan agar mereka selalu menjaga pulau-pulau tersebut dan segala isinya dengan baik.
                Keempat anak-anak tersebut kemudian pergi dan menetap di masing-masing pulau yang telah dipercayakan oleh sang ayah. Semakin hari War, Betani, Dohar, dan Mohamad semakin dikenal sebagai sosok yang tekun dan bijaksana. Hingga sang ayah akhirnya meninggal dunia, keempatnya mampu menaati janji mereka. Bukan hanya nasihat orang tua, warisannya pun mereka jaga. Masing-masing anak tersebut berkuasa, bahkan menjadi raja atas pulaunya masing-masing. Pulau-pulau tersebut tumbuh subur dan makmur. Penduduk di sekitarnya juga hidup bahagia dan sejahtera. Dari sinilah kemudian lahir nama Raja Ampat. Empat orang raja yang berkuasa atas gugusan pulau yang subur dan sejahtera.
                Sementara itu, sebutir telur yang menjadi batu, sampai hari ini masih dirawat dan dijaga oleh penduduk setempat. Batu itu juga diperlakukan oleh masyarakat sekitar layaknya seorang raja. Penduduk memberikan ruangan tempat bersemayam, lengkap dengan dewa penjaga berwujud dua batu tegak atau menhir yang diberi nama Man Moro dan Man Metem di sisi kanan dan kiri pintu masuk. Batu yang hingga kini masih di simpan di Situs Kali Raja itu diberi nama Batu Telur Raja. Untuk menjaga kesuciannya, batu bernama Kapatnai ini hanya dapat dilihat setahun sekali pada saat upacara penggantian kelambu dan pemandian yang hanya boleh dilakukan oleh keturunan raja.
            </p>
        </div>

        <div>
        <img src="{{ url_for('static', filename='images/RA4.png') }}" width="429" height="239">
    </div>
        </section>
        <!-- paragraf 4 end -->

{% endblock %}
