{% extends "layout.html" %}

{% block title %}
    Library
{% endblock %}

{% block main %}


    <div class="container-lg">
        <div class="row">
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <img src="static/images/timunmas.jpg" class="card-img-top" width="139" height="200">
                    <div class="card-body">
                        <h5 class="card-title">Timun Mas</h5>
                        <p class="card-text"></p>
                        <span class="badge text-bg-warning">Pending</span>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <img src="static/images/andelumut.jpg" class="card-img-top" width="139" height="200">
                    <div class="card-body">
                        <h5 class="card-title">Timun Mas</h5>
                        <p class="card-text"></p>
                        <span class="badge text-bg-success">Approved</span>
                    </div>
                </div>
            </div>


            <div class="col-4">
                <div class="card" style="width: 18rem;">
                    <img src="static/images/keongmas.webp" class="card-img-top" width="139" height="200">
                    <div class="card-body">
                        <h5 class="card-title">Timun Mas</h5>
                        <p class="card-text"></p>
                        <span class="badge text-bg-danger">Rejected</span>
                    </div>
                </div>
            </div>

        </div>
    </div>

{% endblock %}
