{% extends "layout.html" %}

{% block title %}
    Malin Kundang
{% endblock %}

{% block main %}

    <h1>Malin Kundang</h1>
    <div class="wrapper">
    <!-- paragraf 1 start-->
        <section id="malin">
            <div>
            <!-- ini versi embedding dari link youtube tinggal copy aja linknya dr youtube kesini -->
                <iframe width="429" height="239" src="https://www.youtube.com/embed/rAKUgawbmoY?si=zIu4VWTvc1P9_2Uh" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                <figure>
                    <figcaption>
                        Listen to the audio of "Malin Kundang story"
                    </figcaption>
                    <audio controls src="static/audios/malinkundang.ogg">
                        Browser does not support tags<code>audio</code>
                    </audio>
                </figure>
            </div>


            <div class="column1">
                <p>Pada zaman dahulu di sebuah perkampungan nelayan Pantai Air Manis di daerah Padang, Sumatera Barat hiduplah seorang janda bernama Mande Rubayah bersama seorang anak laki-lakinya yang bernama Malin Kundang. Mande Rubayah amat menyayangi dan memanjakan Malin Kundang. Malin adalah seorang anak yang rajin dan penurut.
                    Mande Rubayah sudah tua, ia hanya mampu bekerja sebagai penjual kue untuk mencupi kebutuhan ia dan anak tunggalnya. Suatu hari, Malin jatuh-sakit. Sakit yang amat keras, nyawanya hampir melayang namun akhirnya ia dapat diseiamatkan-berkat usaha keras ibunya. Setelah sembuh dari sakitnya ia semakin disayang. Mereka adalah ibu dan anak yang saling menyayangi. Kini, Malin sudah dewasa ia meminta izin kepada ibunya untuk pergi merantau ke kota, karena saat itu sedang ada kapal besar merapat di Pantai Air Manis.
                </p>
            </div>
        </section>
        <!-- paragraf 1 end -->

        <!-- paragraf 2 start -->
        <section id="malin">
            <div class="column2">
                <p>“Jangan Malin, ibu takut terjadi sesuatu denganmu di tanah rantau sana. Menetaplah saja di sini, temani ibu,” ucap ibunya sedih setelah mendengar keinginan Malin yang ingin merantau.
                    “Ibu tenanglah, tidak akan terjadi apa-apa denganku,” kata Malin sambil menggenggam tangan ibunya. “Ini kesempatan Bu, kerena belum tentu setahun sekali ada kapal besar merapat di pantai ini. Aku ingin mengubah nasib kita Bu, izinkanlah” pinta Malin memohon.
                    “Baiklah, ibu izinkan. Cepatlah kembali, ibu akan selalu menunggumu Nak,” kata ibunya sambil menangis. Meski dengan berat hati akhirnya Mande Rubayah mengizinkan anaknya pergi. Kemudian Malin dibekali dengan nasi berbungkus daun pisang sebanyak tujuh bungkus, “Untuk bekalmu di perjalanan,” katanya sambil menyerahkannya pada Malin. Setelah itu berangkatiah Malin Kundang ke tanah rantau meninggalkan ibunya sendirian.
                    Hari-hari terus berlalu, hari yang terasa lambat bagi Mande Rubayah. Setiap pagi dan sore Mande Rubayah memandang ke laut, “Sudah sampai manakah kamu berlayar Nak?” tanyanya dalam hati sambil terus memandang laut. la selalu mendo’akan anaknya agar selalu selamat dan cepat kembali.
                    Beberapa waktu kemudian jika ada kapal yang datang merapat ia selalu menanyakan kabar tentang anaknya. “Apakah kalian melihat anakku, Malin? Apakah dia baik-baik saja? Kapan ia pulang?” tanyanya. Namun setiap ia bertanya pada awak kapal atau nahkoda tidak pernah mendapatkan jawaban. Malin tidak pernah menitipkan barang atau pesan apapun kepada ibunya.
                    Bertahun-tahun Mande Rubayah terus bertanya namun tak pernah ada jawaban hingga tubuhnya semakin tua, kini ia jalannya mulai terbungkuk-bungkuk. Pada suatu hari Mande Rubayah mendapat kabar dari nakhoda dulu membawa Malin, nahkoda itu memberi kabar bahagia pada Mande Rubayah.
                    “Mande, tahukah kau, anakmu kini telah menikah dengan gadis cantik, putri seorang bangsawan yang sangat kaya raya,” ucapnya saat itu.
                    Mande Rubayah amat gembira mendengar hal itu, ia selalu berdoa agar anaknya selamat dan segera kembali menjenguknya, sinar keceriaan mulai menghampirinya kembali. Namun hingga berbulan-bulan semenjak ia menerima kabar Malin dari nahkoda itu, Malin tak kunjung kembali untuk menengoknya.
                    “Malin cepatlah pulang kemari Nak, ibu sudah tua Malin, kapan kau pulang…,” rintihnya pilu setiap malam. Ia yakin anaknya pasti datang. Benar saja tak berapa lama kemudian di suatu hari yang cerah dari kejauhan tampak sebuah kapal yang megah nan indah berlayar menuju pantai. Orang kampung berkumpul, mereka mengira kapal itu milik seorang sultan atau seorang pangeran. Mereka menyambutnya dengan gembira.
                </p>
            </div>

            <div>
                <img src="{{ url_for('static', filename='images/MK 1.png') }}" width="429" height="239">

                <img src="{{ url_for('static', filename='images/MK 2.png') }}" width="429" height="239">
            </div>
        </section>
        <!-- paragraf 2 end -->


        <!-- paragraf 3 start -->
        <section id="malin">
            <div>
            <img src="{{ url_for('static', filename='images/MK 3_Malin dewasa.png') }}" width="429" height="239">
            </div>

            <div class="column1">
            <p>Ketika kapal itu mulai merapat, terlihat sepasang anak muda berdiri di anjungan. Pakaian mereka berkilauan terkena sinar matahari. Wajah mereka cerah dihiasi senyum karena bahagia disambut dengan meriah. Mande Rubayah juga ikut berdesakan mendekati kapal. Jantungnya berdebar keras saat melihat lelaki muda yang berada di kapal itu, ia sangat yakin sekali bahwa lelaki muda itu adalah anaknya, Malin Kundang. Belum sempat para sesepuh kampung menyambut, Ibu Malin terlebih dahulu menghampiri Malin. la langsung memeluknya erat, ia takut kehilangan anaknya lagi.
                “Malin, anakku. Kau benar anakku kan?” katanya menahan isak tangis karena gembira, “Mengapa begitu lamanya kau tidak memberi kabar?”
                Malin terkejut karena dipeluk wanita tua renta yang berpakaian compang—camping itu. Ia tak percaya bahwa wanita itu adalah ibunya. Sebelum dia sempat berpikir berbicara, istrinya yang cantik itu meludah sambil berkata, “Wanita jelek inikah ibumu? Mengapa dahulu kau bohong padaku!” ucapnya sinis, “Bukankah dulu kau katakan bahwa ibumu adalah seorang bangsawan yang sederajat denganku?!”
                Mendengar kata-kata pedas istrinya, Malin Kundang langsung mendorong ibunya hingga terguling ke pasir, “Wanita gila! Aku bukan anakmu!” ucapnya kasar.
                Mande Rubayah tidak percaya akan perilaku anaknya, ia jatuh terduduk sambil berkata, “Malin, Malin, anakku. Aku ini ibumu, Nak! Mengapa kau jadi seperti ini Nak?!” Malin Kundang tidak memperdulikan perkataan ibunya. Dia tidak akan mengakui ibunya. la malu kepada istrinya. Melihat wanita itu beringsut hendak memeluk kakinya, Malin menendangnya sambil berkata, “Hai, wanita gila! lbuku tidak seperti engkau! Melarat dan kotor!” Wanita tua itu terkapar di pasir, menangis, dan sakit hati.
                Orang-orang yang melihatnya ikut terpana dan kemudian pulang ke rumah masing-masing. Mande Rubayah pingsan dan terbaring sendiri. Ketika ia sadar, Pantai Air Manis sudah sepi. Dilihatnya kapal Malin semakin menjauh. Ia tak menyangka Malin yang dulu disayangi tega berbuat demikian. Hatinya perih dan sakit, lalu tangannya ditengadahkannya ke langit. Ia kemudian berdoa dengan hatinya yang pilu, “Ya, Tuhan, kalau memang dia bukan anakku, aku maafkan perbuatannya tadi. Tapi kalau memang dia benar anakku yang bernama Malin Kundang, aku mohon keadilanmu, Ya Tuhan!” ucapnya pilu sambil menangis. Tak lama kemudian cuaca di tengah laut yang tadinya cerah, mendadak berubah menjadi gelap. Hujan tiba-tiba turun dengan teramat lebatnya. Tiba-tiba datanglah badai besar, menghantam kapal Malin Kundang. Laiu sambaran petir yang menggelegar. Saat itu juga kapal hancur berkeping- keping. Kemudian terbawa ombak hingga ke pantai.
            </p>
        </div>
        </section>
        <!-- paragraf 3 end -->


        <!-- paragraf 4 start -->
        <section id="malin">
            <div class="column2">
            <p>Esoknya saat matahari pagi muncul di ufuk timur, badai telah reda. Di kaki bukit terlihat kepingan kapal yang telah menjadi batu. Itulah kapal Malin Kundang! Tampak sebongkah batu yang menyerupai tubuh manusia. Itulah tubuh Malin Kundang anak durhaka yang kena kutuk ibunya menjadi batu karena telah durhaka. Disela-sela batu itu berenang-renang ikan teri, ikan belanak, dan ikan tenggiri. Konon, ikan itu berasal dari serpihan tubuh sang istri yang terus mencari Malin Kundang.
                Sampai sekarang jika ada ombak besar menghantam batu-batu yang mirip kapal dan manusia itu, terdengar bunyi seperti lolongan jeritan manusia, terkadang bunyinya seperti orang meratap menyesali diri, “Ampun, Bu…! Ampuun!” konon itulah suara si Malin Kundang, anak yang durhaka pada ibunya.
            </p>
        </div>

        <div>
        <img src="{{ url_for('static', filename='images/MK 4 Malin kaya.png') }}" width="429" height="239">
    </div>
        </section>
        <!-- paragraf 4 end -->
    </div>

{% endblock %}
