{% extends "layout.html" %}

{% block title %}
    Nai Manggale
{% endblock %}

{% block main %}

    <h1>Nai Manggale</h1>
    <div class="wrapper">
    <!-- paragraf 1 start-->
        <section id="malin">
            <div>
            <!-- ini versi embedding dari link youtube tinggal copy aja linknya dr youtube kesini -->
                <iframe width="429" height="239" src="https://www.youtube.com/embed/vAzHrzOtbnM?si=pqRNvnBVzBodLMF2" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                <figure>
                    <figcaption>
                        Listen to the audio of "Nai Manggale story"
                    </figcaption>
                    <audio controls src="static/audios/naimanggale.ogg">
                        Browser does not support tags <code>audio</code>
                    </audio>
                </figure>
            </div>


            <div class="column1">
                <p>Di sebuah zaman, hidup seorang raja bernama Raja Panggana. Beliau terkenal memiliki keahlian dalam memahat dan mengukir. Sudah banyak karyanya di seluruh pelosok negeri. Namun meski demikian, ada hal yang terasa asing di dadanya hingga membuat Raja Panggana berusaha mengasingkan diri.
                    Ia pun berjalan di sebuah hutan belantara yang penuh dengan alang – alang. Di tengah perjalanan tersebut, ia tertarik pada sebatang pohon tunggal yang hidup sendiri tanpa ada pohon lain.
                    Raja Panggana pun berhenti, duduk dan memperhatikan pohon tersebut yang menurutnya tampak seperti seorang puteri menari. Akhirnya ia keluarkan alat – alatnya dan ia mulai menyempurnakan bentuk pohon tersebut.
                    Diukir dan dipahatnya bagian demi bagian hingga pohon tersebut benar – benar tampak seperti patung seorang puteri yang sedang menari. Sebagai seseorang dengan darah seniman, hari ini ia sangat mengagumi hasil karyanya tersebut.
                    Saking senangnya, ia pun menari bersama patung tersebut sendirian. Bebas dan penuh terasa di dalam hati sang raja. Beberapa hari berlalu, persediaan makanan sang raja akhirnya menipis. Ia pun memutuskan meninggalkan patung pohon puteri menari buatannya itu.
                </p>
            </div>
        </section>
        <!-- paragraf 1 end -->

        <!-- paragraf 2 start -->
        <section id="malin">
            <div class="column2">
                <p>Beberapa hari kemudian, ada seorang pedagang kain dan perhiasan melintasi tempat keberadaan patung. Ia terpanah dengan patung tersebut dan kemudian memberikan patung pakaian dan perhiasan untuk dikenakan di badannya.
                    Ia semakin takjub karena patung tampak seperti seorang puteri menari yang sempurna. Pedagang kain tersebut pun menari bersama sang patung. Setelah puas menari karena hari sudah gelap, ia meninggalkan patung tersebut bersama dengan pakaian dan perhiasan yang sudah dikenakan di badannya.
                </p>
            </div>

            <div>
                <img src="{{ url_for('static', filename='images/NM2.png') }}" width="429" height="239">
            </div>
        </section>
        <!-- paragraf 2 end -->


        <!-- paragraf 3 start -->
        <section id="malin">
            <div>
            <img src="{{ url_for('static', filename='images/NM3.png') }}" width="429" height="239">
            </div>

            <div class="column1">
            <p>Kemudian suatu hari, ada seorang dukun sakti bernama Datu Partawar yang melintasi keberadaan sang patung menari tersebut. Kemudian sang dukun berpikir untuk memberikan patung itu nyawa.
                Sang dukun pun mulai beraksi. Ia menengadah ke atas, membuat suatu ritual dan mengucapkan mantra hingga akhirnya halilintar memekik menerpa patung dan kemudian area sekitar patung diselimuti embun putih penuh cahaya.
                Ketika embun putih tersebut berangsur – angsur hilang, tampak seorang puteri cantik jelita datang bersujud kepada Datu Partawar dan kemudian menari. Akhirnya Datu Partawar, sang dukun menarik tangan sang puteri dan membisikkan padanya “Mulai hari ini, kau akan kuberi nama Puteri Nai Manggale”. Akhirnya puteri tersebut pun dikenal juga sebagai Nai Manggale.
                Dari sanalah legenda Nai Manggale tersebar luas. Kecantikan sang puteri juga tersiar sampai pelosok negeri. Banyak perjaka menghias diri kemudian bertandang ke rumah sang puteri untuk meminang. Hanya saja tak satupun yang bisa memikat hati sang puteri jelmaan patung pohon hutan tersebut.
            </p>
        </div>
        </section>
        <!-- paragraf 3 end -->


        <!-- paragraf 4 start -->
        <section id="malin">
            <div class="column2">
            <p>Suatu hari, berita tentang banyaknya perjaka yang berusaha meminang puteri namun tertolak pun sampai di telinga Raja Panggana dan pedagang kain dan perhiasan yang bernama Bao Partigatiga. Keduanya pun datang ke tempat sang puteri.
                Raja Panggana mengatakan kalau Nai Manggale adalah miliknya karena ia yang memahat patung tersebut. Sementara Baoa Partigatiga juga mengatakan kalau sang puteri miliknya karena perhiasan dan pakaian yang melekat adalah barang dagangannya.
                Kemudian Datu Partawar juga muncul dan berpendapat kalau sang puteri merupakan miliknya karena ia yang menyempurnakan bentuk dan memberikannya nyawa dengan sihir. Ketiganya pun berdebat hebat.
                Karena sudah cukup lama berdebat, mereka pun sadar dan mulai berpikir jernih. Datu Partawar pun memberikan usul untuk menyelesaikan masalah tersebut. Datu Partawar berkata, “Jika tidak bernyawa, dia tetaplah patung. Pakaian yang melekat juga tak ada artinya. Sekarang dia sudah menjadi seorang bernyawa. Kita harus sadar untuk menjaga harga dirinya dan tidak menghilangkan harga dirinya sebagai seorang Puteri Nai Manggale”
                Raja Panggana dan Baoa Partigatiga pun berpikir untuk menyetujui apa yang dikatakan Datu Partawar. Dengan mata berkaca – kaca, Nai Manggale pun berkata “Saya sangat gembira hari ini karena kalian bertiga telah menanyakan apa yang menjadi pendirian dan keinginan saya. Saya sangat menyayangi dan menghormati kalian bertiga tanpa terkecuali”
                Akhirnya Datu Partawar pun menimpali :
                “Demi kepentingan Nai Manggale, kita akan menetapkan tiga keputusan”
                Keputusannya sebagai berikut :
                Karena Raja Panggana adalah orang yang pertama memahat pohon menjadi patung, makai a menjadi Ayah dari Puteri Nai Manggale. Disebut sebagai SUHUT.
                Karena Baoa Partigatiga adalah orang yang memberi pakaian dan perhiasan kepada patung, makai a menjadi Amangboru Puteri atau disebut BORU.
                Karena saya, Datu Partawar adalah yang memberikan nyawa dan berkat kepada patung hingga menjadi manusia, maka saya akan menjadi Tulang dari Puteri Nai Manggale atau yang disebut HULA – HULA.
                Mereka bertiga pun setuju dengan perjanjian tersebut. Legenda Nai Manggale ini pun dipercaya sebagai asal muasal Dalihan Na Tolu dalam budaya kekerabatan batak.
            </p>
        </div>

        <div>
        <img src="{{ url_for('static', filename='images/NM4.png') }}" width="429" height="239">
    </div>
        </section>
        <!-- paragraf 4 end -->
    </div>

{% endblock %}
