{% extends "layout.html" %}

{% block title %}
Pangeran Biawak dan Putri Bungsu
{% endblock %}

{% block main %}

    <h1>Pangeran Biawak dan Putri Bungsu</h1>
    <div class="wrapper">
    <!-- paragraf 1 start-->
        <section id="malin">
            <div>
            <!-- ini versi embedding dari link youtube tinggal copy aja linknya dr youtube kesini -->
                <iframe width="429" height="239" src="https://www.youtube.com/embed/6nj6M3Plntg?si=0XGLtfyyEkF7lNR2" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                <figure>
                    <figcaption>
                        audio of "Pangeran Biawak dan Putri Bungsu story"
                    </figcaption>
                    <audio controls src="static/audios/pangeran_biawak.ogg">
                        Browser tidak mendukung tag <code>audio</code>
                    </audio>
                </figure>
            </div>


            <div class="column1">
                <p>Dahulu kala di suatu pedalaman, berdirilah sebuah kerajaan yang terletak di tepi sungai. Di kerajaan itu hiduplah seorang Raja dengan ketujuh orang putrinya yang cantik jelita, mereka hidup sejahtera dan bahagia.
                    Namun sang Raja tampak murung karena ke tujuh putrinya sudah sangat cukup umur, tetapi tidak ada satupun dari mereka yang sudah memiliki calon suami. Pada akhirnya sang Raja turun tangan untuk mencarikan calon suami untuk ke tujuh putrinya.
                    Sang Raja menggelar sayembara untuk mencari pemuda impian bagi ke tujuh putrinya. Pengawal kerajaan segera mengumumkan sayembara itu kepada seluruh rakyat.
                    “Pengumuman, dengar hai dengar. Sang Raja mengadakan sayembara untuk seluruh rakyatnya. Barang siapa yang bisa membangun istana kerajaan dan jembatan di seberang sungai untuk para putri Raja maka dia akan dijadikan suami untuk putri-putri Raja,” ucap pengawal kerajaan tersebut.
                    Sang Raja memerintahkan siapa pun memperbolehkan untuk mengikuti sayembara tersebut. Tak lama setelah sayembara itu diumumkan, datanglah 6 pemuda yang gagah dan tampan. Mereka henda mengikuti sayembara tersebut.
                </p>
            </div>
        </section>
        <!-- paragraf 1 end -->

        <!-- paragraf 2 start -->
        <section id="malin">
            <div class="column2">
                <p>Dalam waktu singkat, keenam pemuda itu berhasil membangun 6 buah istana untuk para putri. Namun sayembara belum berakhir, semua yang hadir masih menunggu satu orang pemuda lagi untuk menyelesaikan tantangan membuat istana dan jembatan.
                    Mereka semua menunggu dengan cemas dan khawatir jika tidak ada pemuda terakhir yang datang untuk menyelesaikan tantangan. Akhirnya datanglah seorang ibu tua bersama seekor biawak menghadap sang Raja. Para putri, sang Raja dan semua orang yang hadir terheran-heran. Siapa gerangan wanita tua itu?
                    “Paduka Raja, hamba datang kemari untuk mengikuti sayembara yang paduka adakan,” ucap ibu tua itu. Lalu sang Raja menjawab dan bertanya,” Baiklah, apakah ibu mempunyai seorang anak lelaki?”
                    “Paduka Raja yang mulia, hamba punya seorang anak laki-laki tetapi dia adalah anak laki-laki biasa,”ucap ibu tua itu. Sang Raja menjawab,” Tidak masalah, siapapun boleh mengikuti sayembara ini.”
                    Ibu tua itu tersenyum, mendengar kata-kata sang Raja yang begitu bijaksana. “Anakku kamu sudah melihat sendiri apa kata paduka Raja, kamu boleh mengikuti sayembara ini,” ucap Ibu tua kepada biawak yang dibawanya.
                    Semua orang yang ada disana pun tertawa mendengar ucapan itu, karena mereka menganggap seorang biawak tersebut tidak bisa apa-apa dan menganggap ibu tua itu aneh. Sang Raja juga terkejut, bagaimana seorang manusia bisa memiliki anak seekor biawak.
                    Sang Raja tampak bingung, dia terdiam sejenak mendengar ucapan ibu tua. Karena sang Raja tidak bisa menarik ucapan itu, dia pun memperbolehkan biawak itu menjadi salah satu peserta sayembara.
                    Biawak un langsung bekerja membangun istana dan jembatan untuk putri Raja. Sungguh ajaib, keesokan harinya istana dan jembatan yang dibuat oleh biawak itu sudah berdiri kokoh. Itu artinya salah satu putri Raja akan dinikahi dengan seekor biawak.
                </p>
            </div>

            <div>
                <img src="{{ url_for('static', filename='images/PB2.png') }}" width="429" height="239">
            </div>
        </section>
        <!-- paragraf 2 end -->


        <!-- paragraf 3 start -->
        <section id="malin">
            <div>
            <img src="{{ url_for('static', filename='images/PB3.png') }}" width="429" height="239">
            </div>

            <div class="column1">
            <p>Raja pun mulai berdiskusi dengan ke tujuh putrinya. Dia mulai bertanya kepada ketujuh putrinya,”Wahai putri-putriku yang cantik, ayahmu bertanya. Siapa diantara kalian yang bersedia menjadi istri dari biawak yang mengikuti sayembara?”
                Keenam putri Raja menolaknya, kecuali si putri bungsu yang bersedia menjadi istri biawak demi menjaga kehormatan dan nama baik ayahnya.
                Pesta pernikahan pun digelar ke esokan harinya. Keenam putri Raja tampak bergembira dan bahagia, sang Raja yang melihat ke arah putri bungsunya dan terlihat sedih yang duduk bersanding dengan seekor biawak.
                “Maafkan ayah anakku, terima kasih sudah menjaga kehormatan ayah sebagai Raja,” ucap sang Raja dengan bersedih.
                Malam pun tiba, semua putri dan suaminya pergi ke kamar masing-masing. Begitu pula si bungsu, dia segera masuk kek kamarnya dan meletakkan biawak suaminya di sudut kamar.
                Keesokan harinya, putri bungsu terkejut melihat seorang pria tampan yang tidur disampingnya. Putri bungsu pin menjerit ketakutan. “Hah…siapa kamu? Kenapa ada di kamarku? Pengawal tolong!”ucap putri bungsu sambil ketakutan.
                “Sssttt… jangan teriak putri, ini aku suamimu”ucap pria itu.
                Putri bungsu tidak percaya dan tetap berteriak memanggil pengawalnya. Para pengawal yang mendengar, segera masuk ke kamar putri bungsu. Tidak ada pria tampan di kamarnya, tapi putri bungsu terus menunjuk ke arah biawak di kamarnya. Ternyata, pria tampan itu kembali menjadi biawak.
                Tidak ada pengawal yang percaya dengan cerita sang putri. Mereka mengira, putri bungsu sedang bermimpi buruk setelah menikah dengan biawak. Hal ini selalu terjadi hingga beberapa malam, tetapi kini sang putri bungsu tidak takut lagi dengan kehadiran pria tampan tersebut.
                “Kakanda kenapa kakanda bisa berubah menjadi seekor biawak?” ucap putri bungsu. Lalu pria itu mulai bercerita,”Begini adinda, kakanda terkena kutukan. Pada siang hari akan berubah menjadi biawak, sedangkan malam hari tiba kakanda kembali menjadi manusia biasa.”
            </p>
        </div>
        </section>
        <!-- paragraf 3 end -->


        <!-- paragraf 4 start -->
        <section id="malin">
            <div class="column2">
            <p>Suatu hari putri bungsu, menghampiri sudut kamarnya, dia menemukan kulit biawak yang dikenakan suaminya ketika hari menjelang pagi. Sang putri pun tiba-tiba mendapatkan ide, untuk membakar kulit biawak tersebut.
                Sungguh ajaib, suami putri bungsu tidak menjadi biawak lagi. Putri bungsu dan suaminya merasa senang karena kutukan itu akhirnya hilang, mereka berdua pun hidup bahagia.
            </p>
        </div>

        <div>
        <img src="{{ url_for('static', filename='images/PB4.png') }}" width="429" height="239">
    </div>
        </section>
        <!-- paragraf 4 end -->
{% endblock %}
