{% extends "layout.html" %}

{% block title %}
    Putri Tandampalik
{% endblock %}

{% block main %}

    <h1>Putri Tandampalik</h1>
    <div class="wrapper">
    <!-- paragraf 1 start-->
        <section>
            <div>
            <!-- ini versi embedding dari link youtube tinggal copy aja linknya dr youtube kesini -->
                <iframe width="429" height="239" src="https://www.youtube.com/embed/7QvAQly8u5Y?si=Rw27iTnwuQEcseua" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                <figure>
                    <figcaption>
                        Listen to the audio of "Putri Tandampalik story"
                    </figcaption>
                    <audio controls src="static/audios/putri_tandampalik.ogg">
                        Browser tidak mendukung tag <code>audio</code>
                    </audio>
                </figure>
            </div>


            <div class="column1">
                <p>Dahulu dikisahkan, di Sulawesi Selatan berdiri sebuah kerajaan bernama Kerajaan Luwu yang dipimpin oleh seorang raja. Raja itu bernama La Busatana Datu Maongge dan sering dipanggil Raja atau Datu Luwu. Ia sangat arif, bijaksana, dan gagah berani. Karenanya, rakyat di negeri itu hidup makmur dan tidak pernah kekurangan bahan pangan. Keadaan negeri itu juga aman dan damai.
                    Datu Luwu memiliki seorang putri yang sangat cantik dan ramah. Putri Tandampalik, begitu ia biasa disapa. Kecantikan dan budi pekertinya yang baik membuat ia dikenal hingga ke pelosok negeri. Kabar inipun terdengar sampai ke telinga Raja Bone.
                </p>
            </div>
        </section>
    <!-- paragraf 1 end -->

    <!-- paragraf 2 start -->
        <section>
            <div class="column2">
                <p>SRaja Bone memiliki seorang putra yang gagah dan tampan. Meskipun seorang putra mahkota, tutur katanya baik dan sopan. Raja Bone bermaksud meminang Putri Tandampalik untuk putranya. Akhirnya, ia mengutus rombongan perwiranya ke Kerajaan Luwu.
                    Mendengar kabar akan datang utusan dari Bone untuk meminang putrinya, Datu Luwu sangat bingung. Setiap hari, ia gelisah memikirkan pinangan itu. Menurut adat Luwu, seorang putri dari Luwu tidak boleh menikah dengan lelaki di luar sukunya. Akan tetapi, jika ia menolak pinangan tersebut pasti akan terjadi peperangan yang dapat berdampak buruk bagi rakyatnya.
                    "Baiklah. Aku akan menerima pinangan itu. Biar aku saja yang dikutuk oleh Dewa asalkan rakyatku tidak menderita," ucapnya dalam hati.
                    Beberapa hari kemudian, datang utusan dari Kerajaan Bone untuk meminang Putri Tandampalik. Mereka datang dengan sangat sopan dan ramah. Tidak ada rombongan prajurit yang datang ataupun armada perang di pelabuhan seperti yang diperkirakan sebelumnya. Datu Luwu menyambutnya dengan ramah. Setelah mereka mengutarakan maksudnya Datu Luwu tidak langsung menjawab pinangan itu. Utusan Raja Bone memahami hal itu. Mereka akhirnya kembali ke Bone.
                </p>
            </div>

            <div>
                <img src="{{ url_for('static', filename='images/TP2.png') }}" width="429" height="239">
            </div>
        </section>
    <!-- paragraf 2 end -->


    <!-- paragraf 3 start -->
        <section>
            <div>
                <img src="{{ url_for('static', filename='images/TP3.png') }}" width="429" height="239">
            </div>

            <div class="column1">
                <p>Kejadian yang tidak terduga pun terjadi. Keesokan harinya, Putri Tandampalik jatuh sakit. Sekujur tubuhnya mengeluarkan cairan kental menjijikkan yang berbau anyir. Dari tabib istana hingga tabib-tabib terkenal lainnya dari pelosok negeri didatangkan untuk menyembuhkan Putri Tandampalik. Hasilnya nihil. Putri Tandampalik tidak kunjung sembuh. Semakin hari kondisi Putri Tandampalik semakin parah. Jika tidak segera diasingkan, rakyat Luwu pasti akan tertular.
                    "Bagaimana caranya agar putriku lekas sembuh? Jika tidak kunjung sembuh. rakyatku pasti akan tertular. Apa yang harus aku lakukan? Aku tidak akan mungkin tega membunuh anakku sendiri," pikir Datu Luwu.
                    Setelah beberapa saat berpikir, akhirnya ia mendapatkan cara agar rakyatnya tidak tertular penyakit putrinya. Satu-satunya cara adalah Putri Tandampalik harus diasingkan keluar dari Negeri Luwu. Betapa berat hati Datu Luwu melepas putrinya.
                    "Anakku, bukan ayahanda tidak sayang padamu, tetapi inilah satu-satunya cara untuk menyelamatkan rakyat kita dari serangan penyakitmu," ujarnya pada Putri Tandampalik.
                    "Hamba mengerti. Biarlah hamba pergi mengasingkan diri," jawab Putri Tandampalik dengan lembut.
                </p>
            </div>
        </section>
    <!-- paragraf 3 end -->


    <!-- paragraf 4 start -->
        <section>
            <div class="column2">
                <p>Pergilah Putri Tandampalik ke pengasingan didampingi oleh pengikut setianya. Sebelum pergi, Datu Luwu memberikan sebilah keris pusaka kepada putri kesayangannya itu.
                    Berbulan-bulan sudah Putri Tandampalik dan pengikutnya berlayar. Tibalah mereka di sebuah pulau yang subur dan berhawa sejuk. Lalu, mereka menepi. Disana, seorang pengikut Putri Tandampalik menemukan buah wajo. Akhirnya, daerah tersebut diberi nama Wajo. Disana mereka membuat gubuk-gubuk kecil sebagai tempat tinggal. Mereka juga mulai bercocok tanam. Dengan kehidupan yang sangat sederhana mereka terus bekerja keras dengan semangat dan gembira.
                </p>
            </div>

            <div>
                <img src="{{ url_for('static', filename='TP4.png') }}" width="429" height="239">
            </div>
        </section>
    <!-- paragraf 4 end -->

    <!-- paragraf 5 start -->
        <section>
            <div>
                <img src="{{ url_for('static', filename='images/TP5.png') }}" width="429" height="239">
            </div>

            <div class="column1">
                <p>Suatu hari, ketika sedang duduk-duduk di pinggir danau, Putri Tandampalik melihat seekor kerbau bule (kerbau berwarna putih). Ia mengira kerbau itu akan memakan tanaman sayuran yang berada tidak jauh dari tempat itu sehingga diusir lah kerbau itu. Namun, semakin diusir semakin mendekat dan akhirnya menerjang sehingga ia pingsan. Ketika siuman, bukan kepalang kagetnya Putri Tandampalik melihat kerbau itu menjilati seluruh permukaan tubuhnya yang sudah mulai membusuk.
                    Keajaiban terjadi. Setelah berulang kali dijilati oleh si kerbau, penyakit di tubuhnya berangsur-angsur sembuh dan mengering sehingga tidak meninggalkan bekas. Karenanya, kerbau bule itu kemudian dikeramatkan dan tidak boleh disembelih.
                    Suatu malam, Putri Tandampalik bermimpi didatangi oleh seorang pemuda tampan. Pemuda itu berkata bahwa dirinya adalah jodoh Putri Tandampalik. Putri Tandampalik terjaga dari tidurnya. Ia mengira bahwa mimpi itu adalah pertanda baik bagi dirinya.
                </p>
            </div>
        </section>
    <!-- paragraf 5 end -->

    <!-- paragraf 6 start -->
        <section>
            <div class="column2">
                <p>Sementara itu, di Negeri Bone, putra mahkota Kerajaan Bone sedang asyik berburu. Ia ditemani oleh para pengawal dan panglima Kerajaan Bone yang bernama Anre Guru Pakanranyeng. Karena terlalu asyik berburu, putra mahkota terpisah dari rombongannya. Hari sudah semakin larut, akhirnya ia harus bermalam di dalam hutan. Putra Mahkota itu mencoba memejamkan matanya, tetapi suara-suara hewan malam membuatnya sulit tidur.
                    Di kejauhan, putra mahkota melihat seberkas cahaya dari sebuah perkampungan. Sesegera mungkin ia menuju sumber cahaya tersebut. Sesampainya di perkampungan tersebut, hari sudah sangat larut. Ia memberanikan diri memasuki sebuah gubuk yang nampak kosong. Namun, betapa terkejutnya ketika ia melihat seorang gadis cantik sedang memasak air. Gadis cantik itu adalah Putri Tandampalik.
                    "Betapa cantiknya gadis ini. Siapa sebenarnya dirinya?" pikir sang putra mahkota.
                    Merasa ada yang mengawasi, Putri Tandampalik menoleh ke belakang. Betapa Terkejutnya Putri Tandampalik melihat seorang pemuda yang sama seperti di mimpinya. Akhirnya mereka berkenalan. Melihat tutur kata pangeran yang lembut dan sopan membuat Putri Tandampalik kagum dan tertarik. Begitupun dengan kelembutan Putri Tandampalik membuat putra mahkota jatuh hati.
                    Pagi harinya, Panglima Perang Kerajaan Bone, Anre Guru Pakanranyeng, beserta para pengawal putra mahkota yang merasa kehilangan tuannya sangat lega bisa menemukan putra mahkota di desa itu. Putra Mahkota harus kembali ke kerajaan.
                    Sejak berpisah dengan Putri Tandampalik, hatinya sangat gundah. Ia sangat merindukan Putri Tandampalik. Ingin rasanya ia tinggal di Desa Wajo dan hidup bersama Putri Tandampalik. Anre Guru Pakanranyeng yang memperhatikan gelagat putra mahkota tidak seperti biasanya kemudian menceritakan kejadian di Desa Wajo kepada Raja Bone.
                    "Dari gelagat yang saya lihat, tampaknya putra mahkota sedang jatuh hati, Baginda. Menurut usul hamba, sebaiknya putra mahkota dinikahkan saja dengan Putri Tandampalik," usul Anre Guru Pakanranyeng kepada Raja Bone.
                    Raja Bone menyetujui usul panglima perangnya. Lalu, dikirimlah utusan ke Desa Wajo untuk meminang Putri Tandampalik. Setibanya utusan tersebut ke gubuk Putri Tandampalik, pinangan itu tidak segera dijawab. Ia hanya menyerahkan keris pusaka Kerajaan Luwu pemberian ayahandanya kepada utusan tersebut. Putri Tandampalik berpesan agar keris itu dibawa ke Kerajaan Luwu. Jika keris itu diterima dengan baik oleh Datu Luwu maka ia akan menerima pinangan putra mahkota.
                </p>
            </div>

            <div>
                <img src="{{ url_for('static', filename='images/TP6.png') }}" width="429" height="239">
            </div>
        </section>
    <!-- paragraf 6 end -->

    <!-- paragraf 7 start -->
        <section>
            <div>
                <img src="{{ url_for('static', filename='images/TP7.png') }}" width="429" height="239">
            </div>

            <div class="column1">
                <p>Mengetahui hal tersebut, putra mahkota segera menuju Kerajaan Luwu. Ia pergi sendiri tanpa dikawal oleh seorang pun prajurit. Dengan semangat, ia menempuh perjalanan yang cukup jauh selama beberapa hari. Setibanya di Kerajaan Luwu, ia menceritakan pertemuannya dengan Putri Tandampalik. Setelah itu, putra mahkota menyerahkan keris pusaka yang dititipkan oleh Putri Tandampalik kepada Datu Luwu.
                    Datu Luwu dan permaisuri sangat bahagia mendengar kabar tersebut. Dengan senang hati Datu Luwu menerima keris itu. Akhirnya pergilah Datu Luwu dan permaisuri bersama pengawal istana ke Desa Wajo. Betapa bahagianya mereka ketika bertemu dengan putri tercintanya yang sudah berpisah dalam waktu yang cukup lama.
                    "Maafkan ayahanda, Nak. Ayahandamu telah mengasingkanmu dalam waktu yang cukup lama,"ucap Datu Luwu.
                    "Tidak ada yang perlu dimaafkan, Ayahanda. Ananda justru bahagia karena dapat menyelamatkan rakyat Luwu dari penyakit menular," jawab Putri Tandampalik.
                    Keesokan harinya, digelar pesta pernikahan Putri Tandampalik dengan Putra Mahkota Kerajaan Bone di Desa Wajo. Mereka terlihat sangat serasi.
                    Beberapa tahun kemudian, Putra Mahkota naik tahta, Ia pun menjadi Raja Bone yang arif dan bijaksana menggantikan ayahandanya.
                </p>
            </div>
        </section>
    <!-- paragraf 7 end -->

    </div>

{% endblock %}
