{% extends "layout.html" %}

{% block title %}
    Roro Jonggrang
{% endblock %}

{% block main %}

    <h1>Roro Jonggrang</h1>
    <div class="wrapper">
    <!-- paragraf 1 start-->
        <section id="malin">
            <div>
            <!-- ini versi embedding dari link youtube tinggal copy aja linknya dr youtube kesini -->
                <iframe width="429" height="239" src="https://www.youtube.com/embed/N5VQYcmEBwk?si=JS55Ucq-k3n5V1jt" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                <figure>
                    <figcaption>
                        Listen to the audio of "Roro Jonggrang story"
                    </figcaption>
                    <audio controls src="static/audios/rorojonggrang.ogg">
                        Browser tidak mendukung tag <code>audio</code>
                    </audio>
                </figure>
            </div>


            <div class="column1">
                <p>Dahulu kala, ada sebuah kerajaan bernama Prambanan. Kerajaan itu dipimpin oleh Prabu Baka. Prabu Baka adalah raja yang sangat baik.
                    Rakyat kerajaan Prambanan pun hidup makmur.
                    Sementara itu, di tempat lain, ada sebuah kerajaan bernama Kerajaan Pengging.
                    Berbeda dengan Prabu Baka, Raja Pengging memiliki sifat yang sangat buruk. la suka berperang untuk memperluas kekuasaan kerajaannya.
                    Kerajaan Pengging memiliki kesatria sakti bernama Bondowoso.
                    Bondowoso memiliki senjata yang sangat kuat dan pasukan jin. Bondowoso lebih dikenal sebagai Bandung Bondowoso.
                    Suatu hari, Raja Pengging ingin menaklukkan Kerajaan Prambanan.
                    Ia pun memanggil Bandung Bondowoso untuk merebut Kerajaan Prambanan.
                    “Aku perintahkan kau dan pasukanmu untuk merebut Kerajaan Prambanan!” perintah Raja Pengging.
                    Bandung Bondowoso langsung menjalankan tugasnya. Ia dan pasukannya menyerang Kerajaan Prambanan. Dengan sangat mudah, Bandung Bondowoso berhasil menaklukkan Kerajaan Prambanan.
                    Prabu Baka pun tewas. Sebagai hadiah, Raja Pengging mengizinkan Bandung Bondowoso untuk mengurus Kerajaan Prambanan.
                </p>
            </div>
        </section>
    <!-- paragraf 1 end -->

    <!-- paragraf 2 start -->
        <section id="malin">
            <div class="column2">
                <p>Olala, ternyata Kerajaan Prambanan memiliki seorang putri yang cantik jelita bernama Roro Jonggrang.
                    Bandung Bondowoso pun memanggil Roro Jonggrang untuk menghadap.
                    “Apo yang kau inginkan, Bandung Bondowoso?” tanya Roro Jonggrang dengan ketus.
                    “Aku ingin menikahimu. Menikahlah denganku, pasti kehidupanmu akan tenteram dan damai,” ungkap Bandung Bondowoso.
                    Tentu saja, Roro Jonggrang kaget. Ia tak menyangka Bandung Bondowoso akan melamarnya. Padahal, Roro Jonggrang tak suka dengan Bandung Bondowoso. Bandung Bondowoso adalah orang yang kejam. Ia telah membunuh ayahnya, dan membuat rakyat Kerajaan Prambanan sengsara. Dengan tegas, Roro Jonggrang menolak pinangan Bandung Bondowoso.
                    Mendengar penolakan itu, Bandung Bondowoso tidak terima. Ia pun mengancam Roro Jonggrang.
                    “Jika kau tidak mau menikah denganku, hidupmu akan sengsara. Semua penduduk desa pun akan kubuat menderita,” ancam Bandung Bondowoso.
                </p>
            </div>

            <div>
                <img src="{{ url_for('static', filename='images/RJ2.png') }}" width="429" height="239">

            </div>
        </section>
    <!-- paragraf 2 end -->


    <!-- paragraf 3 start -->
        <section id="malin">
            <div>
                <img src="{{ url_for('static', filename='images/RJ3.png') }}" width="429" height="239">
            </div>

            <div class="column1">
                <p>Seketika, Roro Jonggrang menjadi ragu.
                    “Aku izinkan kau berpikir terlebih dahulu,” ucapnya.
                    Roro Jonggrang merasa bingung dengan pinangan Bandung Bondowoso.
                    Jika ia tidak menerima pinangan Bandung Bondowoso, rakyatnya akan sengsara. Tapi, ia tidak suka dengan Bandung Bondowoso.
                    Semalaman Roro Jonggrang berpikir, bagaimana cara menolak pinangan Bandung Bondowoso, tapi rakyatnya tetap aman. Akhirnya, Roro Jonggrang memiliki sebuah ide.
                    Esok siangnya, Bandung Bondowoso menemui Roro Jonggrang.
                    “Sudahkah kau memutuskan pilihanmu, Roro Jonggrang?” tanya Bandung Bondowoso.
                    “Baiklah, Bandung Bondowoso. Aku mau menikah denganmu, asalkan kau bisa memenuhi syarat dari ku.” ucap Roro Jonggrang.
                    “Apa syaratmu?” tanya Bandung Bondowoso dengan congkak.
                    “Buatlah 1000 candi dan 2 buah sumur dalam waktu satu malam,” ujar Roro Jonggrang.
                    Ia yakin, Bandung Bondowoso tak bisa memenuhi syaratnya itu.
                    Tanpa berpikir lama, Bandung Bondowoso langsung menyetujui syarat dari Roro Jonggrang.
                    Malam harinya, Bandung Bondowoso dibantu oleh pasukan jinnya, membangun 1000 candi dan 2 sumur. Roro Jonggrang yang diam-diam menyaksikan hal itu, menjadi gelisah. Perkiraannya salah. Pasukan Bandung Bondowoso sangat cepat menyelesaikan pembangunan itu.
                    Waktu sudah menginjak tiga per empat malam. Tinggal dua candi yang belum dibangun.
                    “Bagaimana caranya menggagalkan usaha mereka?” pikir Roro Jonggrang.</p>
            </div>
        </section>
    <!-- paragraf 3 end -->


    <!-- paragraf 4 start -->
        <section id="malin">
            <div class="column2">
                <p>Aha! Roro Jonggrang memiliki sebuah ide. Ia memanggil semua dayang di istana, dan menyuruh mereka untuk membakar jerami di sebelah timur.
                    Sebagian lain membunyikan lesung, dan menebarkan bunga yang wangi. Tujuannya agar ayam-ayam lekas bangun dan berkokok.
                    Tanpa membuang waktu, para dayang segera melakukan perintah itu. Benar saja, ayam-ayam jantan terbangun dan mulai berkokok. Mendapati langit di timur berwarna merah, bunyi lesung, aroma wangi bunga, dan kokokan ayam, bala tentara Bandung Bondowoso bergegas pergi.
                    Ya! Mereka mengira hari sudah pagi.
                    Mendapati bala tentaranya pergi, Bandung Bondowoso menghentikan mereka.
                    “Kembalilah pasukanku. Hari belum pagi! Masih ada satu candi lagi yang harus kalian bangun!” teriak Bandung Bondowoso.
                    Sayang, bala tentara Bandung Bondowoso tetap pergi meninggalkan pekerjaannya.
                </p>
            </div>

            <div>
                <img src="{{ url_for('static', filename='images/RJ4.png') }}" width="429" height="239">
            </div>
        </section>
    <!-- paragraf 4 end -->
    </div>

<!-- paragraf 5 start -->
    <section id="malin">
        <div>
            <img src="{{ url_for('static', filename='images/RJ5.png') }}" width="429" height="239">
        </div>

        <div class="column1">
            <p>Semakin marahlah Bandung Bondowoso saat mengetahui bahwa semua itu ulah Roro Jonggrang. Ia menemui Roro Jonggrang, dan mengubah Roro Jonggrang menjadi candi.
                Kini, candi itu bernama Candi Roro Jonggrang, dan dapat ditemui di Candi Prambanan.
            </p>
        </div>
    </section>
<!-- paragraf 5 end -->
{% endblock %}
