{% extends "layout.html" %}

{% block title %}
    Sigarlaki Dan Limbat
{% endblock %}

{% block main %}

    <h1>Sigarlaki Dan Limbat</h1>
    <div class="wrapper">
    <!-- paragraf 1 start-->
        <section id="malin">
            <div>
            <!-- ini versi embedding dari link youtube tinggal copy aja linknya dr youtube kesini -->
                <iframe width="429" height="239" src="https://www.youtube.com/embed/VeFOiGrXxPk?si=jpf9oqrxXKxP_Fvr" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                <figure>
                    <figcaption>
                        Listen to the audio of "Sigarlaki Dan Limbat story"
                    </figcaption>
                    <audio controls src="static/audios/sigarlaki_dan_limbat.ogg">
                        Browser does not support tags<code>audio</code>
                    </audio>
                </figure>
            </div>


            <div class="column1">
                <p>Ini adalah sebuah kisah dari daerah Tondano. Dahulu dikisahkan tentang seorang pemburu yang handal bernama Sigarlaki. Tidak ada seekor hewan buruan pun yang bisa lepas dari lemparan tombak yang selalu dibawanya setiap hari.
                    Sigarlaki memiliki seorang pelayan yang sangat setia. Limbat, begitulah namanya. Limbat selalu mendampingi Sigarlaki berburu. Setiap pekerjaan yang diperintahkan oleh Sigarlaki selalu diselesaikan dengan baik.
                    Suatu hari, SIgarlaki mengajak Limbat pergi berburu. Dengan matanya yang tajam. Ia mencari hewan buruannya. Tapi, entah kenapa, hari itu semua hewan seakan-akan enggan keluar dari sarangnya. Tidak ada satupun hewan yang tampak melintas di depan mata Sigarlaki.
                    “Ke mana perginya hewan-hewan itu? Apakah mereka sudah mengetahui kedatanganku sehingga tidak ada satu pun yang berani keluar dari sarangnya?” ucap Sigarlaki dalam hati.
                    Mata Sigarlaki terus menyapu seisi hutan. Tapi, tetap saja hasilnya nihil. Hanya hewan-hewan kecil yang tidak layak untuk diburu saja yang melintas. Matahari mulai turun, tanda hari mulai beranjak senja. Tapi, tidak satu hewan pun berhasil diburunya. Sigarlaki merasa kesal, dan ia kembali ke rumahnya tanpa membawa hasil.
                    Berburu bagi Sigarlaki sangatlah menyenangkan. Selain itu, berburu juga bisa dikatakan sebagai mata pencahariannya. Karena hewan buruan Sigarlaki itu merupakan sumber makanannya sehari-hari.
                </p>
            </div>
        </section>
        <!-- paragraf 1 end -->

        <!-- paragraf 2 start -->
        <section id="malin">
            <div class="column2">
                <p>Setibanya mereka di rumah, tiba-tiba Limbat melihat sudah tidak ada lagi daging sisa hasil buruannya yang kemarin. Ia pun segera menemui tuannya. “Tuan, tuan.. persediaan daging buruan kita telah hilang,” lapor Limbat sambil tergopoh-gopoh menghampiri Sigarlaki.
                    Sigarlaki yang saat itu masih sangat kesal karena tidak berhasil mendapatkan hewan buruan tanpa pikir panjang menuduh Limbat telah mencuri.
                    “Ah, bagaimana mungkin bisa hilang? Tidak ada orang yang masuk ke rumahku. Pasti kau yang telah mencurinya!” tuduh Sigarlaki.
                    “Bukan, bukan aku yang mencurinya. Mana mungkin aku mencuri barang milik Tuan,” sangkal Limbat.
                    “Ah, sudahlah. Lalu siapa yang mungkin mencuri daging itu selain kamu? Tidak ada orang lain yang keluar masuk kecuali engkau,” tuduh Sigarlaki.
                    Betapa kecewanya hati Limbat mendengar tuduhan tuannya. Bagaimana mungkin ia mencuri di tempat tuannya yang telah diikutinya selama bertahun-tahun.
                    “Tega sekali tuan menuduhku mencuri daging itu,” kata Limbat dalam hati.
                </p>
            </div>

            <div>
                <img src="{{ url_for('static', filename='images/SL2.png') }}" width="429" height="239">

            </div>
        </section>
        <!-- paragraf 2 end -->


        <!-- paragraf 3 start -->
        <section id="malin">
            <div>
            <img src="{{ url_for('static', filename='images/SL3.png') }}" width="429" height="239">
            </div>

            <div class="column1">
            <p>Karena tidak merasa bersalah, Limbat tetap membela dirinya dari tuduhan sebagai pencuri. Limbat yang terus menyangkal tuduhan terhadapnya membuat Sigarlaki semakin ingin membuktikan kebenarannya. Akhirnya, Sigarlaki meminta Limbat untuk membuktikan bahwa memang bukan Limbat yang mencuri.
                “Jika memang bukan kau yang mencuri, coba buktikan. Aku akan menancapkan tombakku ke dalam kolam. Kau pun harus ikut menyelam ke kolam tersebut. Jika tombak ini keluar lebih dulu daripada kau, berarti kau tidak mencuri. Namun, jika kau keluar lebih dulu dibanding tombak ini, berarti kaulah yang mencuri,” ucap Sigarlaki.
                Meskipun merasa takut, karena merasa tak bersalah Limbat pun menyetujui persyaratan itu. Lalu, mereka pergi ke kolam tak jauh dari tempat tinggal Sigaralaki.
                Sesampainya di kolam, Sigarlaki menancapkan tombaknya ke dalam kolam. Limbat pun ikut masuk dan menyelam ke dalam kolam. Namun, tidak berapa lama Sigarlaki menancapkan tombaknya, ia melihat seekor babi hutan minum di kolam tersebut. Tidak ingin kehilangan kesempatan memburu babi hutan, Sigarlaki segera mengangkat tombaknya dan melemparkannya ke arah babi hutan. Tapi, hari itu bukanlah hari baiknya, tombakan itu tidak berhasil mengenai babi hutan. Dengan demikian seharusnya Sigarlaki telah kalah dan Limbat seharusnya telah bebas dari tuduhan sebagai pencuri.
            </p>
        </div>
        </section>
        <!-- paragraf 3 end -->


        <!-- paragraf 4 start -->
        <section id="malin">
            <div class="column2">
            <p>Namun, Sigarlaki tetap tidak terima. Ia bersikeras meminta pembuktian itu diulang sekali lagi.
                “Karena tadi aku melihat babi hutan, jadi pembuktian kali ini dianggap tidak sah. Ayo kita ulang lagi pembuktiannya,” ucap Sigarlaki.
                Limbat yang ingin membuktikan dirinay tidak bersalah lalu mengikuti keinginan tuannya. Pembuktian akhirnya diulang sekali lagi. Sigarlaki kemudian sekali lagi menancapkan tombaknya ke dalam kolam. Baru saja ia menancapkan tombaknya, seekor kepiting besar mendekati kaki Sigarlaki.
                “Aauuu..,” jerit Sigarlaki kuat-kuat. Tidak disadarinya kepiting besar telah mencapit kakinya. Sontak ia pun mengangkat tombaknya dari dalam kolam. Sigarlaki yang kesakitan meloncat-loncat sambil memegangi jari kakinya yang dicapit kepiting. Dengan demikian, Limbat sekali lagi telah berhasil membuktikan bahwa dirinya tidak bersalah.
                Sementara, Sigarlaki yang sembarangan menuduh orang, terkena hukumannya yaitu dicapit kepiting besar.
            </p>
        </div>

        <div>
        <img src="{{ url_for('static', filename='images/SL4.png') }}" width="429" height="239">
    </div>
        </section>
        <!-- paragraf 4 end -->
    </div>

{% endblock %}
